<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2709183664449693~4583141590</string>
	<key>GADNativeAdValidatorEnabled</key>
	<string>false</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>하루 일정을 한눈에 보여주고, 새로운 이벤트를 캘린더에 추가할 수 있도록 캘린더 접근 권한이 필요합니다.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>오늘의 할 일을 정리하고, 새로운 미리알림을 추가할 수 있도록 미리알림 접근 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoSerif_28pt-Bold.ttf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Museum-Medium.otf</string>
		<string>Museum-Bold.otf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>BookkMyungjo_Bold.ttf</string>
	</array>
</dict>
</plist>
